.center-table {
    width: 60%;
    height: fit-content;
    background-color: white;
    border-style: dotted;
    border-width: 1px;
    border-radius: 0px;
    border-color: blueviolet;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}

.center-table button {
    background-color: blueviolet;
    border-style: dotted;
    border-radius: 0px;
    border-width: 1px;
    color: white;
}

.zebra tr:nth-child(2n+1) {
    background-color: black;
    color: white;
}

.center-table button:hover {
    cursor: pointer;
    background-color: white;
    color: blueviolet;
    box-shadow: 2px 2px 2px whitesmoke;
    border-color: blueviolet;
}

.pane {
    width: 60%;
    height: fit-content;
    background-color: whitesmoke;
    border-style: dotted;
    border-width: 0px;
    border-radius: 0px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 10;
    font-size: 16px;
}

.pane p {
    color: white;
}

body {
    background-color: whitesmoke;
}

th {
    font-weight: 100;
    color: black;
    border-style: solid;
    border-width: 0px 0px 10px 0px;
    border-color: white;
    text-align: left;
    background-color: rgb(223, 205, 240);
    padding: 10px;
    text-decoration: underline;
}

td {
    font-size: 14px;
    border-style: solid;
    border-width: 0px 0px 10px 0px;
    border-color: white;
    width: auto;
    padding: 10px;
}

tr {
    height: 50px;
    background-color: whitesmoke;
}

table {
    border-collapse: collapse;
    /*border: 1px solid #cdcdcd;*/
    width: 80%;
    margin: auto;
}

.bottom-pane {
    width: 100%;
    background-color: dimgray;
    box-shadow: 2px 2px 2px #cdcdcd;
    height: 50px;
    /* background-color: blueviolet;
    border-style: dotted;
    border-radius: 0px;
    border-width: 1px;
    color: white;*/
    margin-top: 50px;
    margin-bottom: 0px;
}