.center-table {
    width: 60%;
    height: fit-content;
    background-color: white;
    border-style: dotted;
    border-width: 1px;
    border-radius: 0px;
    border-color: blueviolet;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}

.pane {
    width: 60%;
    height: fit-content;
    background-color: blueviolet;
    border-style: dotted;
    border-width: 0px;
    border-radius: 0px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 10;
    font-size: 16px;
}

.pane p {
    color: white;
}

body {
    background-color: whitesmoke;
}

th {
    font-weight: 900;
    text-decoration: underline;
    color: rgb(50, 50, 50);
}

td {
    font-size: 14px;
}

table {
    border-collapse: collapse;
    border: 1px solid #FF0000;
}

table td {
    border: 1px solid #FF0000;
}